.swatch-color {
    width: 20px;
    height: 20px;
  border-radius: 2px;
}

.swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  border: 0.5px black solid;
  //box-shadow: 0 0 0 1px rgba(0;0;0;.1);
  display: inline-block;
  cursor: pointer;
}

.swatch-popover {
  position: absolute;
  z-index: 2;
}

.swatch-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
