.oval {
    display: block;
    width: 15px;
    height: 38px;
    border-radius: 7px / 19px;
    border: 0.5px black solid;
    
    &__forward {
        transform: translateX(6px) rotate(35deg);
    }
    &__backward {
        transform: translateX(6px) rotate(-35deg);
    }
}

.double-oval {
    display: block;
    width: 10px;
    height: 26px;
    border-radius: 5px / 13px;
    border: 0.5px black solid;
    &__forward {
        transform: translateX(1px) translateY(6px);
    }
    &__backward {
        transform: translateX(1px) translateY(6px);
    }
}   

.stitch {
    &__backward{
        background-color: gray;
    }
    &__against{
        background-color: gray;
    }
    &__along{
        //background-color: white;
    }
}

